<div class="container my-margin-top3">
    
        <p class="text-center myColor">{{sharedService.loginPageMessage}}</p>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="card bg-light col-md-6">
            <div class="card-body">
                <h3 class="text-center myColor">Sign In</h3>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                    <br>
                    <div class="input-group">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <input type="text" class="form-control" placeholder="Please input your E-mail"
                        name="email" [(ngModel)]="loginModel.email" required>
                    </div>
                    <br>

                    <div class="input-group">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-lock"></i></div>
                        </div>
                        <input id="password" type="password" class="form-control" placeholder="Please input password"
                        name="password" [(ngModel)]="loginModel.password" #password="ngModel" required>
                    </div>
                    <br>

                    <div>
                        <input type="checkbox" value=""> Remember Me
                        <a href="#" class="my-float-right text-dark" routerLink="/signup" routerLinkActive="active"> 
                            <u>Signup</u>
                        </a>
                    </div>

                    <br>
                    <div class="row-centered"  >
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid ">Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>