<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <form>
          <div class="form-inline">
            <span class="navbar-text mr-sm-1">Training Name:</span>
            <select id="technologies" class="form-control mr-sm-4" style="width:110px;background:mintcream">
              <option *ngFor="let item of technologyList" [value]='item.id'>{{item.technologyName}}</option>
            </select>
            <span class="navbar-text mr-sm-1">Timeslot:</span>
            <div id="datetimepicker-group" data-target-input="nearest">
                <input  id="startTime" type="text" class="form-control datetimepicker-input input-group-addon my_input_bgColor" 
                        style="width:110px;"/>
                <font   class="navbar-text">--</font>
                <input  id="endTime" type="text" class="form-control datetimepicker-input input-group-addon mr-sm-1 my_input_bgColor" 
                        style="width:110px;"/>
                <button class="btn btn-light my_btn_bgColor" (click)="guestSearch()" >Search</button>
            </div>
          </div>
        </form>					
        <div>
          <a class="navbar-brand" href="#">Notifications</a>
          <a class="navbar-brand" routerLink="/login" routerLinkActive="active" >Login</a>
          <a class="navbar-brand" routerLink="/" routerLinkActive="active" >Logout</a>      
        </div>
    </div>
  </nav> 
  
  
  <br><br><br>